<div class="form-reg">
        <form action="">
        <h3 class="name">Create an account</h3>

        <input  #registerEmail type="text" id="username" placeholder="Phone number, username or email" name="username" required> <br>

        <input #registerPassword type="password" id="password" placeholder="Password" name="password" required> <br>
        <input #registerConfirmPassword  type="password" id="password" placeholder="Confirm password" name="password" required> <br>

        <button (click)="onRegisterClick(registerEmail,
        registerPassword, registerConfirmPassword)" class="login" type="button">Create account</button>
    </form>
   
</div>
